<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--bean就是java对象 , 由Spring创建和管理-->
    <bean id="hello" class="com.zougn.pojo.Hello">
        <property name="name" value="Spring"/>
    </bean>


    <bean id="MysqlImpl" class="com.zougn.dao.impl.UserDaoMySqlImpl"/>
    <bean id="OracleImpl" class="com.zougn.dao.impl.UserDaoOracleImpl"/>

    <bean id="ServiceImpl" class="com.zougn.service.impl.UserServiceImpl">
        <!--注意: 这里的name并不是属性 , 而是set方法后面的那部分 , 首字母小写-->
        <!--引用另外一个bean , 不是用value 而是用 ref-->
        <property name="userDao" ref="OracleImpl"/>
    </bean>

    <bean id="user" class="com.zougn.pojo.User">
        <property name="name" value="kuangshen"/>
    </bean>


    <!-- 第一种根据index参数下标设置 -->
<!--    <bean id="userT" class="com.zougn.pojo.UserT">-->
<!--        &lt;!&ndash; index指构造方法 , 下标从0开始 &ndash;&gt;-->
<!--        <constructor-arg index="0" value="kuangshen2"/>-->
<!--    </bean>-->

    <!-- 第二种根据参数名字设置 -->
<!--    <bean id="userT" class="com.zougn.pojo.UserT">-->
<!--        &lt;!&ndash; name指参数名 &ndash;&gt;-->
<!--        <constructor-arg name="name" value="kuangshen2"/>-->
<!--    </bean>-->

    <!-- 第三种根据参数类型设置 -->
    <bean id="userT" class="com.zougn.pojo.UserT">
        <constructor-arg type="java.lang.String" value="kuangshen2"/>
    </bean>


    <!--设置别名：在获取Bean的时候可以使用别名获取-->
    <alias name="userT" alias="userNew"/>



    <!--bean就是java对象,由Spring创建和管理-->

    <!--
       id 是bean的标识符,要唯一,如果没有配置id,name就是默认标识符
       如果配置id,又配置了name,那么name是别名
       name可以设置多个别名,可以用逗号,分号,空格隔开
       如果不配置id和name,可以根据applicationContext.getBean(.class)获取对象;

    class是bean的全限定名=包名+类名
    -->
    <bean id="hello" name="hello2 h2,h3;h4" class="com.zougn.pojo.Hello">
        <property name="name" value="Spring"/>
    </bean>

<!--    <import resource="{path}/beans.xml"/>-->
</beans>